/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* criação de variaveis */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #00256e;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #d9d9d9;
    --bs-gray-dark: #343a40;
    --bs-primary: #00256e;
    --bs-secondary: #191C24;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #00256e;
    --bs-light: #6C7293;
    --bs-dark: #000;

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0))
}

/* Icon */

.icon {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: none;
    position: relative;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
    }

    .icon > .label {
        display: none;
    }

    .icon:before {
        line-height: solid;
    }

    .icon.solid:before {
        font-weight: 900;
    }

    .icon.brands:before {
        font-family: 'Font Awesome 5 Brands';
    }

    .icon.major {
        border: solid 1px;
        display: inline-block;
        border-radius: 100%;
        padding: 0.65em;
        margin: 0 0 2em 0;
        cursor: default;
    }

        .icon.major:before {
            display: inline-block;
            font-size: 6.25rem;
            width: 2.25em;
            height: 2.25em;
            line-height: 2.2em;
            border-radius: 100%;
            border: solid 1px;
            text-align: center;
        }

    .icon.alt {
        display: inline-block;
        border: solid 1px;
        border-radius: 100%;
    }

        .icon.alt:before {
            display: block;
            font-size: 1.25em;
            width: 2em;
            height: 2em;
            text-align: center;
            line-height: 2em;
        }

    .icon.style1 {
        color: #efa8b0;
    }

    .icon.style2 {
        color: #c79cc8;
    }

    .icon.style3 {
        color: #a89cc8;
    }

    .icon.style4 {
        color: #9bb2e1;
    }

    .icon.style5 {
        color: #8cc9f0;
    }

    @media screen and (max-width: 1680px) {

        .icon.major:before {
            font-size: 5.5rem;
        }

    }

    @media screen and (max-width: 1280px) {

        .icon.major:before {
            font-size: 4.75rem;
        }

    }

    @media screen and (max-width: 736px) {

        .icon.major {
            margin: 0 0 1.5em 0;
            padding: 0.35em;
        }

            .icon.major:before {
                font-size: 3.5rem;
            }

    }

.icon.major {
    border-color: rgba(255, 255, 255, 0.35);
}

    .icon.major:before {
        border-color: rgba(255, 255, 255, 0.35);
    }

.icon.alt {
    border-color: rgba(255, 255, 255, 0.35);
    color: #ffffff;
}

    .icon.alt:hover {
        background-color: rgba(255, 255, 255, 0.075);
    }

    .icon.alt:active {
        background-color: rgba(255, 255, 255, 0.2);
    }

header {
    width: 100%;
    padding: 20px 0px 20px; /* topo, esquerda e direita, e embaixo */
    /*padding: clamp(35px, 8%, 70px);  mínimo, preferencial, máximo */
    background-color: var(--bs-white);
}

.icon {
    width: 34px;
    margin: 0px 0px 0px 24px;
/*    background: var(--bs-indigo); */
    vertical-align: middle;
}
 
.button-idioma {
    width: 70px;
    border: 0;
    font-size: 0.9em;
    border-radius: 15px;
    padding: 5px 0px 5px; /* topo, esquerda e direita, e embaixo */
    margin: 0px 0px 0px 80%;
}

main{
    background-color: var(--bs-gray);
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem; /* preenchimento */
    margin: 50px auto;
    background-color: var(--bs-white);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rm;
    color: var(--bs-danger);
    margin-bottom: 1.2rem;
}
.mensagem{
    font-size: 1rem;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    background: var(--bs-gray);
}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: var(--bs-white);
    cursor: pointer;
    background: var(--bs-danger);
}

button:hover{
    background: #0d6efd;
}
input:focus{
    border: 1px solid var(--bs-gray-dark);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 1rem;
}
.terms a{
    color: #0c52bb;
    text-decoration: none;
}

.member{
    font-size: 1rem;
    margin-top: 1.4rem;
}

.member a{
    color: #0c52bb;
    text-decoration: none;
}

footer {
    background-color: var(--bs-gray)

}
